@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
}
:root {
    --color-primary: #007BFF;
    --color-border: #ced4da;
    --color-secondary: #ced4da;
    --color-body: #F6F6F6;
    --color-box-shadow: #888888;
    --color-footer: #222222;
    --color-error-msg: #DF2C3E;
    --color-edit: #F7C40F;
}
body {
    background-color: var(--color-body);
    height: auto;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.hide {
    display: none;
}

/* for css */
/* login */
.login-wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
}

.login-card {
    width: 446px;
    box-shadow: 3px 5px 18px var(--color-box-shadow);
    padding: 40px 40px 40px 40px;
    background-color: #fff;
    border-radius: 6px;
}

.login-card  a {
    color: #000;
    font-weight: 300;
}

.login-card  a:hover {
    color: var(--color-primary);
    text-decoration: none;
}

/* main-content */
.content-wrap {
    padding-top: 50px;
    padding-bottom: 50px;

}

.main-content {
    margin: 40px;
    padding: 30px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 3px 5px 18px var(--color-box-shadow);
}

.main-content h3 {
    font-size: 18px;
    font-weight: bold;
}

/* footer */
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: var(--color-footer);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;

}

.footer span {
    color: var(--color-primary);
}

/* modal box */
.modal-content {
    border: none;
}

.modal-header {
    height: 53px;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.btn-close:focus {
    box-shadow: none;
}

.modal-header .btn-close {
    filter: invert(100%);
    opacity: 1;

}

.modal-header,
.modal-body,
.modal-footer {
    padding: 0px 30px;
}

.modal-body p {
    margin-bottom: 0px;
}

.modal-footer {
    border-top: none;
}

/* edit and delete icon */
.fa-pen-to-square {
    color: var(--color-edit);
    font-weight: 400;
}

.fa-trash-can {
    color: var(--color-error-msg);
    font-weight: 400;
}

.fa-pen-to-square:hover,
.fa-trash-can:hover {
    font-weight: bold;
}

/* Boostrap */
/* navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 40px;
    height: 56px;
    box-shadow: 3px 5px 18px var(--color-box-shadow);
    background-color: #fff;
    z-index: 1000;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.navbar-nav .nav-link {
    font-weight: bold;
    padding: 20px;
    color: #000;
}



.nav-link:hover,
.nav-link.active {
    color: var(--color-primary);
    font-weight: bold;
    text-decoration: none;
}


.fa-bars {
    display: none;
    color: var(--color-primary);
}

#closeIcon-menu {
    display: none;
}

/* for responsive menu */
@media only screen and (max-width: 780px) {
    .fa-bars {
        display: block;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
        background-color: var(--color-primary);
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 10px;
        transition: right 0.3s ease;
    }

    .navbar-nav .nav-link {
        color: #fff;
        padding: 10px 20px;
    }

    .navbar-nav .nav-link:hover {
        color: #000;
    }


    #closeIcon-menu {
        display: block;
        font-size: 25px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
    }

    div.dt-container div.dt-layout-row:not(.dt-layout-table) {
        display: flex;
        justify-content: space-between;
    }
}

/* form */
.form-check-input:checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.form-check-input:focus {
    box-shadow: none;
}

.form-check-input.is-valid,
.was-validated .form-check-input:valid {
    border-color: var(--color-border);
}

.form-check-input.is-valid:checked,
.was-validated .form-check-input:valid:checked {
    background-color: var(--color-primary);
}

.form-check-input.is-valid:focus,
.was-validated .form-check-input:valid:focus {
    box-shadow: none;
}

.form-check-input.is-valid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
    color: #000;
    border: none;
}

.form-control:focus,
.form-select:focus,
.btn:focus {
    box-shadow: none;
}

.form-label {
    margin-bottom: 2px;
}

.form-control.is-valid,
.was-validated .form-control:valid {
    background-image: none;
    border: 1px solid var(--color-border);
    padding-right: 5px;

}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
    border-color: var(--color-primary);
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus,
.was-validated .form-control:valid:focus {
    box-shadow: none;
}

/* select */
.form-select.is-valid:focus,
.was-validated .form-select:valid:focus {
    border-color: var(--color-primary);
}

.was-validated .form-select:valid:not([multiple]):not([size]) {
    background-image: none;
    border: 1px solid var(--color-border);
    padding-right: 5px;
    box-shadow: none;
}

.was-validated .form-select:invalid:not([multiple]):not([size]) {
    box-shadow: none;
}

.btn {
    box-shadow: 2px 4px 3px var(--color-box-shadow);
    width: 114px;
}


.btn-primary,
.btn-cancel:hover {
    background-color: var(--color-primary);
    color: var(--color-primary);
    color: #fff;
}

.btn-primary:hover,
.btn-cancel {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    background-color: #fff;
}

.btn-primary:focus {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: #fff;
}

.btn-primary:active:focus {
    box-shadow: none;
}


/* library */
/* select2 library */
.select2-container--default .select2-selection--single {
    height: 36px;
    font-size: 16px;
    border: 1px solid var(--color-border);

}

/* Hide the default arrow */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 60%;
    left: 0%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 28px;
    right: -10px;
}


/* placeholder */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
}

/* dropdown color */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--color-primary);
}

/* select2 border select */
.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--single {
    border: 1px solid var(--color-primary);
}



/* datepicker boostrap library*/

td.active.day {
    background: var(--color-primary) !important;
    border-radius: 50%;
}

tr td.day:hover {
    background: var(--color-border);
    cursor: pointer;
    border-radius: 50%;
}

span.month.active {
    background: var(--color-primary) !important;
    border-radius: 50%;
}

span.month:hover {
    background: var(--color-secondary) !important;
    border-radius: 50%;
}

.datepicker table tr td span.active {
    background-color: var(--color-primary);
    border-radius: 50%;
}

tr td span:hover {
    background: var(--color-secondary);
    border-radius: 50%;
}

.datepicker table tr td span.active.active {
    background-color: var(--color-primary);
    color: #fff;
}

.datepicker table tr td span.focused {
    background: var(--color-primary);
    border-radius: 50%;
    color: #fff;
}


.datepicker {
    border: 1px solid var(--color-primary);
}

.datepicker .prev,
.datepicker .datepicker-switch,
.datepicker .next {
    color: var(--color-primary);
    font-weight: bold;
}

th.dow {
    color: var(--color-primary);
}

.datepicker td,
.datepicker th {
    width: 35px;
}


/* Table*/
div.dt-container .dt-paging .dt-paging-button.current {
    background-color: var(--color-primary);
    color: #fff !important;
    border: none;
    padding: 0px;
}

div.dt-container .dt-paging .dt-paging-button:hover {
    border: none;
}

.dt-length {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

div.dt-container select.dt-input:focus,
div.dt-container .dt-search input .active {
    box-shadow: none;
    border-color: var(--color-primary);
}

div.dt-container select.dt-input .active {
    box-shadow: none;
    border-color: var(--color-border);
}



/* select option  for datatable*/


.dt_length select option:checked {
    background-color: var(--color-primary);
    color: #fff;
}

div.dt-container .dt-search input {
    border: 1px solid var(--color-border);
}

div.dt-container .dt-input {
    border: 1px solid var(--color-border);
    border-radius: 4px;
}

.dt-search input[type="search"]:focus {
    border-color: var(--color-primary);
    outline: none;
}

table.dataTable th.dt-type-numeric div.dt-column-header {
    flex-direction: row;
}

table.dataTable th.dt-type-numeric,
table.dataTable th.dt-type-date,
table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
    text-align: left;
}